/********** Template CSS **********/
:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
}
.checkOut_products::-webkit-scrollbar,html::-webkit-scrollbar {
  display: none;
}

.ff-secondary {
  font-family: "Pacifico", cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.text-primary {
  color: var(--primary) !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.btn-primary {
  color: var(--light) !important;
  border: none;
  background-color: #fea116 !important;
}

.border-start {
  border-left-color: #fea116 !important;
}

.row {
  justify-content: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.df-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
ul {
  padding: 0 !important;
  margin-top: 20px;
  list-style: none;
}
.mr-0 {
  margin-right: 0 !important;
}
.colum{
  flex-direction: column;
  align-items: baseline;
}
/* CART */

.cart {
  font-size: 22px;
  color: white;
  background: #fea116;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.cart .notification {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 4px;
  background: red;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
}

.navbar .content-cart {
  position: absolute;
  color: white;
  width: 30%;
  height: 100vh;
  top: 0;
  right: -100%;
  background-color: rgba(15, 23, 43, 0.4);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: 0.6s;
}

.navbar .content-cart.active {
  right: 0;
  transition: 0.6s;
}

.navbar .content-cart .header_cart {
  margin: 24px;
  padding: 0 20px;
}

.navbar .content-cart .header_cart .close {
  font-size: 26px;
  opacity: 0.8;
  transition: 0.4s;
}

.navbar .content-cart .header_cart .close:hover {
  opacity: 1;
  transition: 0.4s;
  text-shadow: 1px 1px 6px #000;
}

.navbar .content-cart .header_cart .clear {
  border: none;
  background-color: rgba(254, 161, 22, 0.5);
  color: white;
  border-radius: 10px;
  transition: 0.4s;
}

.navbar .content-cart .header_cart .clear:hover {
  background-color: rgba(254, 161, 22, 1);
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

.navbar .content-cart .header_cart h5 {
  font-weight: bold;
  color: #fea116;
  text-shadow: 2px 2px 4px #cccccc;
  text-align: center;
}

.navbar .content-cart .header_cart .clear h6 {
  margin: 0 !important;
}

.navbar .content-cart .header_cart .clear i {
  font-size: 12px;
  margin-left: 10px;
}

.navbar .content-cart .menu_cart {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 161, 22, 0.6);
  margin-top: 40px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.navbar .content-cart .menu_cart .menu_cart--content {
  padding: 10px 20px;
  width: 100%;
  height: 54%;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar .content-cart .menu_cart .menu_cart--content::-webkit-scrollbar {
  display: none;
}

.navbar .content-cart .menu_cart .menu_cart--content .menu__dish {
  padding: 6px;
  background-color: rgba(254, 161, 22, 0.4);
  border-radius: 14px;
  transition: 0.5s;
  color: white;
}

.navbar .content-cart .menu_cart .menu_cart--content .menu__dish:hover {
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  transform: translateX(6px);
}

.navbar .content-cart .menu_cart .menu_cart--content .menu__dish .info {
  justify-content: flex-start;
}

.navbar .content-cart .menu_cart .menu_cart--content .menu__dish .qty .remove,
.navbar .content-cart .menu_cart .menu_cart--content .menu__dish .qty .add {
  cursor: pointer;
  font-weight: bold;
}

.navbar
  .content-cart
  .menu_cart
  .menu_cart--content
  .menu__dish
  .info
  .menu__dish {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px 0;
}

.navbar .content-cart .menu_cart .menu_cart--total {
  padding: 0 20px;
  width: 100%;
  height: 33%;
  background-color: rgba(254, 161, 22, 0.6);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  flex-direction: column;
}

.navbar .content-cart .menu_cart .menu_cart--total .menu_cart--total__content,
.navbar
  .content-cart
  .menu_cart
  .menu_cart--total
  .menu_cart--total__content
  div {
  width: 100%;
  opacity: 0.8;
}

.navbar .content-cart .menu_cart .menu_cart--total .menu_cart--total__content {
  padding-top: 40px;
  flex-direction: column;
}

.navbar .content-cart .menu_cart .menu_cart--total .menu_cart--total__monney {
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar .content-cart .menu_cart .menu_cart--total button {
  margin-bottom: 12px;
  width: 100%;
}
.navbar .content-cart .menu_cart .menu_cart--total button a{
  color: white;
  display: block;
}
.search {
  background-color: white;
  border-radius: 20px;
  padding: 4px 10px;
}
.search .input_search input {
  padding: 2px 0;
  padding-left: 10px;
  outline: none;
  border: none;
}
.search button {
  padding: 0 10px;
  border: none;
  background: transparent;
  border-left: 1px solid rgba(254, 138, 22, 0.8);
}
.search .input_search .closeSearch {
  display: none;
}
/* LOGIN */
.login,.register{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  z-index: 10000;
  color: var(--light);
  transition: 0.6s;
}
.login.active,
.register.active{
  top:0;
  transition: 0.6s;
}
.login h2,
.register h2{
  margin: 20px 0;
  line-height: 0;
  display: inline-block;
  border-bottom: 3px solid #d98a15;
}

.login .close_login,
.register .close_register{
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 20px;
  font-size: 30px;
  text-shadow: 1px 1px 10px rgba(217, 139, 21, 0.5);
}

.login form,
.register form{
  width: 30%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
/* pagination */
.pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li a{
  border: 1px solid #000;
  padding: 6px 18px;
  margin: 10px;
  transition: 0.6s;
  border-radius: 10px;
}

.pagination li a:hover {
  background-color: rgba(254, 161, 22, 0.5);
  transition: 0.6s;
}

.pagination .active {
  background-color: rgba(254, 161, 22, 0.8);
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
  box-shadow: 2px 2px 4px rgba(254, 161, 22, 0.4);
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

@media (min-width: 993px) and (max-width: 1200px) {
  .navbar .content-cart {
    width: 50% !important;
  }
  .news .order_news{
    width: 10% !important;
  }
  .navbar .content-cart .menu_cart .menu_cart--content .menu__dish .info .price{
    margin-top: 30px;
  }
}
@media (max-width: 882px) {
  .login form,
  .register form{
    width: 50%;
  }
  .navbar .content-cart {
    width: 50% !important;
  }
  .addCart button {
    width: 100% !important;
  }
  .comment_news{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .detail_news .news_share{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
    flex-direction: column;
  }
  .detail_news .news_share .like{
    margin-top: 10px;
  }
  .news .order_news.df-center{
    width: 20% !important;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .news .order_news.df-center::after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    border-top: 13px solid #d98a15;
    border-left: 12px solid transparent;
  }
}
@media (max-width: 720px) {
  .navbar .content-cart {
    width: 60% !important;
  }
}
@media (max-width: 615px) {
  .login form,
  .register form{
    width: 80%;
  }
  .detail_news .news_image img{
    width: 100% !important;
  }
  .search {
    background: transparent;
  }
  .search .input_search {
    background: #212529;
    width: 100%;
    position: absolute;
    bottom: -51%;
    left: -150%;
    transition: 0.6s;
    z-index: -10;
  }
  .search .input_search.active {
    left: 0;
    transition: 0.6s;
    z-index: -10;
    padding: 0 16px;
  }
  .search .input_search input {
    margin: 6px 10px;
    width: 100%;
  }
  .search .input_search .closeSearch {
    display: block;
    color: white;
    background: #fea116;
    padding: 2px 10px;
    border: 1px solid;
  }
  .search button {
    background: #fea116;
    border: 1px solid #000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  .search button i {
    color: white;
  }
}
@media (max-width: 600px) {
  .navbar .content-cart {
    width: 70% !important;
  }
}
@media (max-width: 590px) {
  .navbar .content-cart {
    width: 90% !important;
  }
}
@media (max-width: 415px) {
  i.fas.fa-shopping-cart{
    font-size: 10px !important;
  }
  .content_pay .update_product{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_pay .update_product button a{
    font-size: 13px;
  }
  .news .order_news.df-center::after{
    border-left: 13px solid transparent !important;
  }
  .row > * {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
  .navbar .content-cart {
    width: 100% !important;
  }
  .pagination li a {
    padding: 4px 10px !important;
    margin: 4px !important;
  }
  .btn-lg-square {
    width: 30px;
    height: 30px;
    right: 22px;
    bottom: 22px;
  }
  .btn-lg-square i {
    font-size: 16px;
    font-weight: bold;
  }
  .pfixed {
    padding: 6px !important;
  }
  .navbar .content-cart .header_cart .clear {
    padding: 4px !important;
  }
  .cart {
    width: 30px !important;
    height: 30px !important;
  }
  .cart .notification {
    top: -2px !important;
    right: -4px !important;
  }
  .search button {
    width: 30px;
    height: 30px;
  }
  .search .input_search.active {
    bottom: -84%;
  }
  .product_prefers .df-space-between{
    flex-direction: column;
  }
  .product_prefers .df-space-between .more {
    margin-top: 10px;
  }
  .cart.cart_order{
    width: 70px !important;
  }
}
@media (max-width: 350px) {
  .navbar .content-cart .menu_cart .menu_cart--total .menu_cart--total__content{
    padding-top: 20px;
  }
  .navbar .content-cart .menu_cart .menu_cart--total .menu_cart--total__monney{
    padding-top: 0;
  }
  .navbar .content-cart .menu_cart .menu_cart--total button{
    margin-bottom: 36px;
  }
  h6{
    font-size: 0.9rem !important;
  }
  .login form,
  .register form{
    width: 90%;
  }
  .register form h2{
    font-size: 16px;
  }
  .news .order_news.df-center::after{
    border-left: 14px solid transparent !important;
  }
  .navbar-brand h1 {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .checkOut_products .prduct .prduct_info .prduct_info--name h5{
    font-size: 16px !important;
  }
  .news .order_news{
    width: 10% !important;
  }
  .descr p,
  .share p {
    font-size: 16px !important;
  }

  .navbar .content-cart {
    width: 40%;
  }

  .pfixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .sticky-top.navbar-dark {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  .navbar-dark .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: var(--dark) !important;
  }
}

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url(../img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}
.breadcrumb-item a {
  color: #fea116;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  transform: translateY(6px);
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  transform: translateY(6px);
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Food Menu ***/
.nav-pills .nav-item h6 {
  color: #000000;
}
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}
.menu_food a {
  color: #000 !important;
}
.more a {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 6px 30px;
  color: black;
  background: rgb(254 161 22 / 70%);
  box-shadow: 4px 4px 10px rgb(0 0 0 / 20%);
  transition: 0.6s;
}
.more a:hover {
  transform: translateX(10px);
  color: white;
  background: rgb(254 161 22 / 100%);
  transition: 0.6s;
}

/* CkeckOut */
.content_pay .checkOut_products{
  height: 490px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content_pay form,
.content_pay .checkOut_products,
.content_pay .total_pay{
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.content_pay .checkOut_products .prduct .prduct_info .prduct_info--name .delete{
  color: red;
}

.content_pay .checkOut_products .prduct .prduct_info .prduct_info--qty .btn-qty{
  border: 1px solid black;
  font-size: 10px;
  padding: 6px;
}
.content_pay .checkOut_products .prduct .prduct_info .prduct_info--qty span{
  padding: 6px 10px;
}
.content_pay .total_pay .money:nth-child(1),
.content_pay .total_pay .money:nth-child(2){
  opacity: 0.8;
}
.content_pay .total_pay .money h5{
  font-size: 18px;
  margin: 0 !important;
}
.content_pay .total_pay .money .price span{
  font-size: 18px;
  font-weight: bold;
  color:#d98a15;
}
.content_pay .total_pay .money.active .price{
  color:#d98a15;
  font-size: 20px;
  font-weight: bold;
}
/*** Detail product ***/
.slider_image {
  width: 100%;
}
.slider_image img {
  width: 100%;
}
.owl-carousel {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 1.4rem 0.5rem;
}
.owl-carousel img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.owl-carousel .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(254, 161, 22, 0.8);
  padding: 20px 10px;
  border-radius: 10px;
}
.owl-carousel .owl-nav .owl-prev {
  left: -10px;
}
.owl-carousel .owl-nav .owl-next {
  right: -10px;
}
.slider_image {
  border: 1px solid rgba(254, 161, 22, 0.8);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.slider_image img {
  padding: 10px;
  border-radius: 20px;
}
.star {
  margin-top: 10px;
}
.star .active i {
  color: #fe8a16;
}
.name h5 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  color: #fea116;
  position: relative;
  display: inline-block;
}
.descr-info__product p {
  font-size: 20px;
}
.price-info__product {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}
.price-info__product h5 {
  margin-right: 10px;
  margin-bottom: 0;
}
.price-info__product span {
  color: #fe8a16;
  font-weight: bold;
  font-size: 20px;
  margin-right: 6px;
}
.qty-info__product {
  width: 20%;
  display: flex;
}
.qty-info__product button {
  width: 40px;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 6px;
}
.qty-info__product span {
  padding: 0 16px;
}
.addCart {
  margin-bottom: 20px;
}
.addCart button {
  margin-top: 20px;
  border: 1px solid #fe8a16;
  border-radius: 6px;
  width: 30%;
  padding: 6px 0;
  background-color: rgba(254, 161, 22, 0.7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.6s;
  color: white;
  font-weight: bold;
}
.addCart button:hover {
  transform: translateX(10px);
  background-color: rgba(254, 161, 22, 0.8);
  transition: 0.6s;
}
.share {
  display: flex;
  align-items: center;
}
.share i {
  font-size: 30px;
  margin-right: 20px;
  transition: 0.6s;
  text-shadow: 2px 4px 10px rgba(254, 161, 22, 0.5);
}
.share i:hover {
  transform: translate(4px, -4px);
  color: rgba(254, 161, 22, 1);
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.6s;
}
.share p {
  margin-bottom: 0;
  font-size: 20px;
  opacity: 0.8;
  font-style: italic;
  margin: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.sub_nav {
  width: 100%;
  justify-content: initial !important;
}
.messager {
  display: flex;
}
.messager input {
  flex: 10;
  padding: 6px;
  outline: none;
}
.messager button {
  flex: 1;
  margin-left: 4px;
  border: 1px solid rgba(254, 138, 22, 1);
  background-color: rgba(254, 138, 22, 0.7);
}
.user .avt img {
  border-radius: 50%;
  border: 2px solid rgba(254, 138, 22, 1);
}
.user .info .name {
  font-size: 18px;
  font-weight: bold;
}
.user .info .name span {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
.user .info .comment h6 {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-style: italic;
}
.user .info .comment p {
  padding-left: 16px;
  position: relative;
}
.user .info .comment p .head {
  left: 0;
  top: 0;
}
.user .info .comment p .head,
.user .info .comment p .tail {
  font-size: 10px;
  position: absolute;
}
.user .info .comment p .tail {
  bottom: 12px;
  right: 0;
}
.product_prefers {
  margin-top: 60px;
  font-family: "Pacifico", cursive;
}
/* NEWS */
.news .row{
  position: relative;
}
.news .order_news{
  position: absolute;
  top: 10%;
  left: 0;
  background: #fea116;
  color: white;
  width: 6%;
  z-index: 10;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.news button{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.news button:hover{
  transform: translateX(10px);
}
.news .name button a{
  color: white;
}
.news .order_news h2{
  margin-bottom: 0;
  padding: 10px;
}
/* DETAIL NEWS */
.detail_news .news_name{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.detail_news .news_image img{
  border: 1px solid #d98a15;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 90%;
}
.detail_news .news_desrc p{
  letter-spacing: 1px;
  line-height: 1.6;
}
.detail_news .news_share .like i{
  font-size: 28px;
}   
.detail_news .news_share .like .qty_like{
  font-size: 28px;
  margin-left: 10px;
  font-weight: bold;
}
.detail_news .news_share .name h3{
  margin-bottom: 0;
  margin-right: 10px;
}
.detail_news .news_share a{
  color: white;
  background: rgba(217, 139, 21, 0.8);
  margin-right: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.detail_news .news_share a:hover{
  transform: scale(1.2);
  background-color: #d98a15;
  box-shadow: 2px 2px 10px #000;
}
/* BANNER */
.banner, .recent_articles{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.banner .snacks {
  transition: 0.6s;
  padding: 6px;
  cursor: pointer;
}
.banner .snacks .name h4{
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
}
.banner .snacks:hover{
  background: rgba(0, 0, 0, 0.1);
  transition: 0.6s;
  transform: translateX(2px);
}
.banner .snacks .iconRight{
  opacity: 0.8;
}
.banner .snacks .name .icon{
  margin-left: 6px;
}
.recent_articles .recent_article{
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.6s;
  border-radius: 4px;
}
.recent_articles .recent_article:hover{
  transform: translateX(4px);
  transition: 0.6s;
  box-shadow: 1px 1px 4px rgba(217, 139, 21, 0.5);
}
.recent_articles .recent_article .time{
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../img/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  height: calc(100% - 38px);
  transition: 0.5s;
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
